apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummysite-server
spec:
  template:
    spec:
      volumes:
        - name: dummy-htmls
          emptyDir: {}
      containers:
      - name: dummysite-server
        image: nginx:1.20-alpine
        volumeMounts:
          - name: dummy-htmls
            mountPath: /usr/share/nginx/html